:root {
  --red: #8e0101;
  --green: #6bdba5;
  --lightergreen: #9ef1c9;
  --white: #ffffff;
  --black: #141216;
  --blue: #dee6f7;
}

.blogheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url(/images/justin-kauffman-fpoHihXiMhg-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blogimage {
  height: 400px;
  width: 60%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.blogheading {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  font-family: "Poppins", sans-serif;
}

.blogposts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.blogright {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.bloginfo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: 100%;
  justify-content: flex-start;
  width: 60%;
  gap: 15px;
}

.bloginfo p {
  margin-right: 15px;
  font-family: "Roboto Slab", serif;
}

.blogtext {
  width: 60%;
  font-family: "Neucha", cursive;
}

.margin-right-5px {
  margin-right: 5px;
}

.blogtag {
  font-family: "Roboto Slab", serif;
}

.blogspecifcbtn {
  background-color: var(--blue);
  color: var(--black);
  border: 1px solid var(--black);
  width: 250px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 1px 7px 5px 1px;
  transition: 0.4s;
  box-sizing: border-box;
}

a:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
